Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/*
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/*
llvm-lipo
*.backup
*.log
Temp/*
Logs/*
*.cache
*.log
Library/StateCache/*
Library/Artifacts/*
Library/Bee/*
*.rsp
Library/ProtocolInstance.json
Library/SceneVisibilityState.asset
