
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/dsymutil
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/llvm-lipo
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/dsymutil
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/llvm-lipo
Temp/workerlic
Temp/UnityLockfile
Temp/PropertyDatabase_2066312223
Temp/PropertyDatabase_1265138678
Temp/FSTimeGet-9449de389cc4d734aa8633c73da33ef4
*.backup
Temp/FSTimeGet-b9ff0320d505ded4284d1a0e19c8409c
Temp/FSTimeGet-295a2ec7383d6bf4baec5200df0c427b
Temp/FSTimeGet-00418244fde59724cb568bbaa54451cf
